html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.6rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* start of header-main */
 .header-main{
    width: 100%;
 }
 .container{
    width: 960px;
    margin: 0 auto;
 }
 .header{
    width: 100%;
    text-align: left;
    background-color: lightgray;
    border-radius: 28px;
    line-height: 2;
    padding: 40px;
 }